<div id="content">
  <div class="row pb-5 px-5 mx-5" *ngIf="mahasiswa" id="tbl-container">
    <div class="col-12">
      <input type="text" [(ngModel)]="searchText" placeholder="Cari disini" />
      <div class="dropdown mb-3">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Urutkan berdasarkan...
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <button class="dropdown-item" (click)="sortByIdAsc()">ID (<em>Ascending</em>)</button>
          <button class="dropdown-item" (click)="sortByIdDesc()">ID (<em>Descending</em>)</button>
          <button class="dropdown-item" (click)="sortByNameAsc()">Nama (A-Z)</button>
          <button class="dropdown-item" (click)="sortByNameDesc()">Nama (Z-A)</button>
          <button class="dropdown-item" (click)="sortByNimAsc()">NIM (<em>Ascending</em>)</button>
          <button class="dropdown-item" (click)="sortByNimDesc()">NIM (<em>Descending</em>)</button>
          <button class="dropdown-item" (click)="sortByCreatedAsc()">Waktu Pembuatan (<em>Ascending</em>)</button>
          <button class="dropdown-item" (click)="sortByCreatedDesc()">Waktu Pembuatan (<em>Descending</em>)</button>
        </div>
      </div>
    </div>
    <div class="col-6" *ngFor="let mhs of mahasiswa.result.mahasiswa | filter : 'nim,nama_lengkap': searchText">
      <div id="mahasiswa-card" class="media my-2 border rounded-lg card-effect bg-light mx-5"
        routerLink="./{{ mhs.nim }}">
        <img class="mr-3 img-fluid rounded img-thumbnail" src="{{ mhs.foto }}" alt="Foto profil" />
        <div class="media-body px-1 my-1">
          <h3 class="pt-1">{{ mhs.nama_lengkap }}
            <span>
              <h6 class="pt-2">(ID: {{ mhs.id }})</h6>
            </span>
          </h3>
          <h5 class="pt-2">000000{{ mhs.nim }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
