#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: warnaDinamis 7.5s;
  -webkit-animation: warnaDinamis 7.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#content {
  border-radius: 5px;
  padding: 2em;
  position: fixed;
  top: 30%;
  left: 5%;
}

#content h1 {
  color: #424242;
  display: table-cell;
  text-align: center;
  font-family: "Major Mono Display", monospace;
  font-size: 7em;
  padding-bottom: 0.5rem;
}

#content h2 {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  color: #424242;
  padding-bottom: 1em;
}

.wrap {
  height: 100%;
  display: flex;
}

.button {
  width: 200px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

@keyframes warnaDinamis {
  0% {
    background-color: #b4b387;
  }

  25% {
    background-color: #eeddcc;
  }

  50% {
    background-color: #778aab;
  }

  75% {
    background-color: #bcaaaa;
  }

  100% {
    background-color: #ddbb98;
  }
}

@-webkit-keyframes warnaDinamis {
  0% {
    background-color: #b4b387;
  }

  25% {
    background-color: #eeddcc;
  }

  50% {
    background-color: #778aab;
  }

  75% {
    background-color: #bcaaaa;
  }

  100% {
    background-color: #ddbb98;
  }
}
