<div id="mhs-table-view">
  <div class="container table-responsive">
    <div class="w-75 mx-auto">
        <input class="my-3" type="text" [(ngModel)]="searchText" placeholder="Cari disini"/>
      <div class="dropdown my-3 float-right">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Urutkan berdasarkan...
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <button class="dropdown-item" (click)="sortByIdAsc()">ID (<em>Ascending</em>)</button>
          <button class="dropdown-item" (click)="sortByIdDesc()">ID (<em>Descending</em>)</button>
          <button class="dropdown-item" (click)="sortByNameAsc()">Nama (A-Z)</button>
          <button class="dropdown-item" (click)="sortByNameDesc()">Nama (Z-A)</button>
          <button class="dropdown-item" (click)="sortByNimAsc()">NIM (<em>Ascending</em>)</button>
          <button class="dropdown-item" (click)="sortByNimDesc()">NIM (<em>Descending</em>)</button>
          <button class="dropdown-item" (click)="sortByCreatedAsc()">Waktu Pembuatan (<em>Ascending</em>)</button>
          <button class="dropdown-item" (click)="sortByCreatedDesc()">Waktu Pembuatan (<em>Descending</em>)</button>
        </div>
      </div>
      <table class="table table-hover my-5">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="text-center">NIM</th>
            <th scope="col" class="text-center">Nama</th>
          </tr>
        </thead>
        <tbody *ngIf="mahasiswa">
          <tr *ngFor="let mhs of mahasiswa.result.mahasiswa | filter : 'nim,nama_lengkap': searchText" routerLink="./{{mhs.nim}}">
            <th scope="row" class="text-center">000000{{ mhs.nim }}</th>
            <td class="text-center">{{ mhs.nama_lengkap }} (ID: {{ mhs.id }})</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
