<div id="profil-kelompok">
  <button class="black-button my-3 ml-5" (click)="goBack()">
    Kembali ke laman sebelumnya
  </button>
  <div class="ml-5 pt-3">
    <h1 id="tentang-kami">Tentang kami.</h1>
    <h6 class="mt-3">
      <em>Klik pada foto untuk mengunjungi profil
        <strong>Instagram</strong> mereka.</em>
    </h6>
  </div>
  <div class="row p-5">
    <div class="col-3">
      <a href="https://www.instagram.com/andrewhadi17/" target="_blank">
        <img class="img-fluid hover-color rounded" src="../../assets/profil-kelompok/dp_andrew.jpg" /></a>
      <div class="profile-text pt-3">
        <h4>Andrew Hadi</h4>
        <h5>00000027628</h5>
        <h6>andrew.hadi@student.umn.ac.id</h6>
      </div>
    </div>
    <div class="col-3">
      <a href="https://www.instagram.com/chatyhuang/" target="_blank">
        <img class="img-fluid hover-color rounded" src="../../assets/profil-kelompok/dp_chaterine.jpg" /></a>
      <div class="profile-text pt-3">
        <h4>Chaterine</h4>
        <h5>00000026771</h5>
        <h6>chaterine@student.umn.ac.id</h6>
      </div>
    </div>
    <div class="col-3">
      <a href="https://www.instagram.com/li_liana19/" target="_blank">
        <img class="img-fluid hover-color rounded" src="../../assets/profil-kelompok/dp_liana.jpg" /></a>
      <div class="profile-text pt-3">
        <h4>Liana</h4>
        <h5>00000027963</h5>
        <h6>liana1@student.umn.ac.id</h6>
      </div>
    </div>
    <div class="col-3">
      <a href="https://www.instagram.com/laitsky/" target="_blank">
        <img class="img-fluid hover-color rounded" src="../../assets/profil-kelompok/dp_vincent.jpg" /></a>
      <div class="profile-text pt-3">
        <h4>Vincent Diamond</h4>
        <h5>00000027047</h5>
        <h6>vincent12@student.umn.ac.id</h6>
      </div>
    </div>
  </div>
  <div id="tentang-projek" class="text-right pt-3">
    <h1>Tentang projek ini.</h1>
    <h5 class="my-3 pb-3">Projek ini dibuat untuk memenuhi salah satu syarat kelulusan mata kuliah <strong>Pengantar Teknologi
        Internet
        (IF300 - B)</strong>.
    </h5>
    <h6 class="mt-3"><strong>Dosen Pengampu:</strong> Alexander Waworuntu, S.Kom., M.T.I.</h6>
    <h6 class="mt-3"><strong>Asisten Laboratorium: </strong>Carissa Komalasari, Ventryshia Andiyani.</h6>
  </div>
</div>
