#foto-profil {
    width: 225px;
    height: 225px;
    object-fit: cover;
    border-radius: 100%;
}

.edit-badge {
    font-size: 0.35em;
    vertical-align: middle;
    background-color: #5bc0de;
    color: white;
    padding: 0.25em;
    border-radius: 4px;
}
.edit-badge:hover {
    background-color: #51acc7;
    transition: 0.2s;
}